*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator__grid{
    display: grid;
    background-color: black;
    width: 200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 50px);
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}
.calculator__grid > div{
    cursor: pointer;
    border-radius: 50%;
}
.calculator__grid > div:nth-child(17){
    grid-column: 1/3;
    grid-row: 5;
    border-radius: 15px;
}

.calculator__input{
    background-color: black;
    color: white;
    width: 200px;
    border: none;
    height: 50px;
    text-align: right;
    padding-right: 5px;
    font-size: 30px;
}

.calculator__number{
    background-color: darkgray;
}
.calculator__sign, .calculator__result{
    background-color: orange;
}
.calculator__clear, .calculator__toggleSign, .calculator__percent{
    background-color: gray;
}